/* NAVBAR STYLING */

/* Navbar Container */
.navbar-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

/* Navbar PSC Logo */
.navbar-logo img
{
    width: 50px;
    height: 50px;
}

/* Navbar Links Section */
.navbar ul
{
    display: flex;
    align-items: center;
}

.navbar li
{
    margin: 0 15px;
    font-weight: bold;
}

.navbar-nav-left
{
    flex: 1;
    margin-left: 20px;
}

/* Navigation buttons coloring */
.navbar ul li #nav-button
{
    background-color: #e39825;
}

/* PSC LOGO AND GOVERNMENT LOGO STYLING */

/* FOOTER STYLING */
.footer
{
    background-color: #e39825;
}

.footer-container
{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px 30px;
    text-align: center;
}

